<!DOCTYPE html>
<html>
<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div style="position: relative; width: 1200px; left: calc(50% - 600px);">
    <div class="jumbotron">
        <div class="container">
            <h1>Összesen: <%= titleCount %></h1>
            <table style='width: 100%; margin: 0; padding: 0; word-wrap: break-word; table-layout: fixed;' class='table table-striped'>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>From</th>
                    <th>Info</th>
                </tr>
                <% for(var i = 0; i < emails.length; i++) { %>
                <tr>
                    <td><%= emails[i].id %></td>
                    <td><%= emails[i].name %></td>
                    <td><%= emails[i].email %></td>
                    <td><%= emails[i].comesfrom %></td>
                    <td><%= emails[i].info %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
</body>
</html>